header.page-header {
    background-color: #001011;
    font-family: 'Roboto', sans-serif;
}

nav#header-user-links {
    padding-top: 0;
    padding-bottom: 0;
}
.fa-bars {
    color: white;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

#search-resource-form input.js-keyword-search {
    width: 300px;
}

a.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: white;
    padding: 0;
}

a.navbar-brand:hover {
    color: white;
}

li.nav-item {
    margin: 10px 5px;
}

a.nav-link {
    display: inline-block;
    position: relative;
    color: white;
}

a.nav-link:hover {
    color: white;
}

ul.navbar-nav {
    list-style: none;
}

ul.navbar-nav li {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

ul.navbar-nav li::before {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transition: 0.4s;
    background-color: white;
}

ul.navbar-nav li.active::before,
ul.navbar-nav li:hover::before {
    left: 0%;
}

ul.navbar-nav li a {
    text-decoration: none;
}

input.js-keyword-search {
    padding-right: 50px;
}

.search-btn {
    margin: 5px -50px 5px;
    height: 40px;
    width: 40px;
    z-index: 100;
}

$breakpoint-responsive: 991px;

@media (max-width: $breakpoint-responsive) {

    .navbar-left,
    .navbar-right,
    .search-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .nav-link {
        padding: 0;
    }
    button.search-btn {
        margin: 5px -8px 5px;
        padding-right: 33px;
        padding-left: 17px;
    }

    .fa-magnifying-glass {
        color: white;
        font-size: 20px;
    }

    #search-resource-form input.js-keyword-search {
        width: 250px;
    }
}