header.page-header {
    background-color: #001011;
    font-family: 'Roboto', sans-serif;}

.fa-bars {
    color: white;
}

a.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: white;
}

a.navbar-brand:hover {
    color: white;
}

a.nav-link {
    display: inline-block;
    position: relative;
    color: white;
}

a.nav-link:hover {
    color: white;
}

ul.navbar-nav {
    list-style: none;
}

ul.navbar-nav li {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

ul.navbar-nav li::before {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transition: 0.4s;
    background-color: white;
}

ul.navbar-nav li.active::before,
ul.navbar-nav li:hover::before {
    left: 0%;
}

ul.navbar-nav li a {
    text-decoration: none;
}

input.js-keyword-search {
    padding-right: 50px;
}