.resource-card:hover {
  box-shadow: 8px 6px 19px -3px rgba(0,0,0,0.82);
  filter: brightness(50%)
}


.hide-content {
  display: none;
}

.counts {
  margin-left: 5px;
  margin-right: 5px;
}



.fa-heart {
  color: #ff262d;
}

.fa-star {
  color: #fff419;
}

.fa-heart:hover {
  filter: brightness(80%)
}
