.topic-btn {
background-color: white;
  border: 1px solid #46B1C9;
  border-radius: 30px;
  color: #46B1C9;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin: 10px 5px;
  cursor: pointer;
}

.topic-filters {
    margin-left: 7px;
}

.topic-btn:hover {
color: white;
background: #46B1C9;
transition: all 150ms ease-in-out;
}

button.active {
    color: white;
    background-color: #46B1C9;
}
