.comment-input {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: thick solid #30323D;
}

#login-error, #empty-field-error {
  display: none;
}


.hide-content {
  display: none;
}

.fa-star {
  color: #ded309;
}

.resource-page-img {
  width: 300px;
  height: 337px;
  object-fit: cover;
}

#average {
  font-weight: 600;
}

