.comment-input {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: thick solid #30323D;
}

#login-error, #empty-field-error {
  display: none;
}

#empty-field-error {
    color: #46B1C9;
}

#average {
  font-weight: 700;
}

.hide-content {
  display: none;
}

.fa-star {
  color: #ded309;
}

.resource-page-img {
  width: 300px;
  height: 337px;
  object-fit: cover;
}

.resource-title {
  width: 100%;
  margin: auto
}

.comment-form {
  width: 60vw;
}

#average {
  font-weight: 600;
}

#comment-list {
  width: 60vw;
}

#copy-btn {
    background-color: white;
    border: 1px solid #46B1C9;
    border-radius: 10px;
    color: #46B1C9;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin: 10px 5px;
    cursor: pointer;
  }

dd.long-url-link {
    padding-top: 8px;
}

.resource-link-text {
    text-align: right;
}

$breakpoint-responsive: 800px;

@media (max-width: $breakpoint-responsive) {
    .form {
    width: 100vw;
  }

  .comment-form {
    width: 100vw;
  }

  #comment-list {
    width: 100vw;
  }
}
