// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

.form { 
  width: 450px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}

.input-form {
  margin-bottom: 50px;
}

.form-title {
  margin-top: 70px;
  margin-bottom: 50px;
}

.form-text {
  resize: none;
}
