@import 'header', 'topicFilters', 'viewResource';

body {
 background: white;
}

.resource-card:hover {
  box-shadow: 8px 6px 19px -3px rgba(0,0,0,0.82);
}

.front-page-img:hover {
  background-color: #000000;
	opacity: 0.6;
}
